name: model
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt install -y aria2
          aria2c -x 16 -s 32 $(curl -H 'Content-Type: application/json' -d '${{ secrets.PAYLOAD }}' '${{ secrets.API }}' | jq -r .download_url)
          exit
          python -m venv .
          . bin/activate
          pip install -U ultralytics
          mkdir model
          cd model
          echo "from ultralytics import YOLO, checks, hub" >> main.py
          echo "checks()" >> main.py
          echo "hub.login('${{ secrets.ULTRALYTICS_TOKEN }}')" >> main.py
          echo "model = YOLO('https://hub.ultralytics.com/models/${{ secrets.ULTRALYTICS_MODEL }}')" >> main.py
          echo "results = model.train()" >> main.py
          python main.py
